<div class="container">
    <form method="post" action="/">
        <div class="divider d-flex align-items-center my-2">
            {{#if sanpham}}
            <h3 class="text-center fw-bold bm-2 mb-0">Sửa thông tin sản phẩm</h3>
            {{else}}
            <h3 class="text-center fw-bold bm-2 mb-0">Thêm sản phẩm</h3>
            {{/if}}
        </div>
        <div class="row">
            <div class="col-3">
                <div class="form-floating mb-2">
                    <input type="text" class="form-control" name="ten" value="{{sanpham.ten}}" id="ten"
                        placeholder="name@example.com" required>
                    <label for="ten">Tên</label>
                </div>
                <div class="form-floating mb-2">
                    <input type="number" class="form-control" name="gia" value="{{sanpham.gia}}" id="gia"
                        placeholder="Password" required>
                    <label for="tuoi">Giá</label>
                </div>
                <div class="form-floating mb-2">
                    <input type="text" class="form-control" name="soluong" value="{{sanpham.soluong}}" id="soluong"
                        placeholder="Password">
                    <label for="diachi">Số lượng</label>
                </div>
                <div class="form-floating mb-2">
                    <input type="text" class="form-control" name="loaisp" value="{{sanpham.loaisp}}" id="loaisp"
                        placeholder="Password">
                    <label for="diachi">Loại sản phẩm</label>
                </div>
                <div class="form-floating mb-2">
                    <input type="text" class="form-control" name="khuyenmai" value="{{sanpham.khuyenmai}}"
                        id="khuyenmai" placeholder="Password">
                    <label for="diachi">Khuyến mại</label>
                </div>
            </div>
        </div>
        <div class="text-center text-lg-start">
            {{#if sanpham}}
            <button type="submit" class="btn btn-primary btn-lg fw-bold"
                style="padding-left: 2.5rem; padding-right: 2.5rem;">Cập nhật</button>
            {{else}}
            <button type="submit" class="btn btn-primary btn-lg fw-bold"
                style="padding-left: 2.5rem; padding-right: 2.5rem;">Thêm</button>
            {{/if}}

        </div>
    </form>

    <div>
        <table class="table caption-top table-bordered">
            <caption class="fw-semibold">Danh sách sản phẩm</caption>
            <thead class="table-dark">
                <tr>
                    <th class="text-center align-middle" scope="col">#</th>
                    <th class="text-center align-middle" scope="col">Tên</th>
                    <th class="text-center align-middle" scope="col">Giá</th>
                    <th class="text-center align-middle" scope="col">Số lượng</th>
                    <th class="text-center align-middle" scope="col">Loại sp</th>
                    <th class="text-center align-middle" scope="col">Khuyến mại</th>
                    <th class="text-center align-middle" scope="col">Thao tác</th>
                </tr>
            </thead>
            <tbody>
                {{#each sanphams}}
                <tr>
                    <th class="text-center align-middle" scope="row">{{sum @index 1}}</th>
                    <td class="text-center align-middle">{{this.ten}}</td>
                    <td class="text-center align-middle">{{this.gia}}</td>
                    <td class="text-center align-middle">{{this.soluong}}</td>
                    <td class="text-center align-middle">{{this.loaisp}}</td>
                    <td class="text-center align-middle">{{this.khuyenmai}}</td>
                    <td class="text-center align-middle">
                        <a href="update/{{this._id}}" class="btn btn-primary btn-sm">Edit</a>
                        <a href="delete/{{this._id}}" onclick="return confirm('Are you sure?')"
                            class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
                {{else}}
                <p>No employees to display</p>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>